<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>Woops2</display-name>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	
	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SpringContextServlet</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!--Spring Servlet -->
	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/classes/applicationContext*.xml</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- Taglibs -->
	<jsp-config>
		
		<!-- Taglibs pour Common Controls -->
		<taglib> 
			<taglib-uri>/cc-base</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-base.tld</taglib-location> 
		</taglib> 
		
		<taglib> 
			<taglib-uri>/cc-controls</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-controls.tld</taglib-location> 
		</taglib> 
		
		<taglib> 
			<taglib-uri>/cc-forms</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-forms.tld</taglib-location> 
		</taglib> 
		
		<taglib> 
			<taglib-uri>/cc-menu</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-menu.tld</taglib-location> 
		</taglib> 
		
		<taglib> 
			<taglib-uri>/cc-security</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-security.tld</taglib-location>
		</taglib> 
		
		<taglib> 
			<taglib-uri>/cc-svg</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-svg.tld</taglib-location> 
		</taglib>
		 
		<taglib> 
			<taglib-uri>/cc-template</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-template.tld</taglib-location> 
		</taglib>
		 
		<taglib> 
			<taglib-uri>/cc-utility</taglib-uri> 
			<taglib-location>/WEB-INF/tags/cc-utility.tld</taglib-location> 
		</taglib>
	</jsp-config>
</web-app>
