

body  {
		font-family:"Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        font-size: 14px; 
        color: black;
		text-decoration: none;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
}

Table {
	font-family:"Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        font-size: 14px;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        font-size: 11px; 
}

Table.Table1 {
        background: #FFFFFF;
        border:2px #8B82A2 solid ;
        
}

Table.Table2 {
        background: #BEB4CC;
        border: 0px #FFFFFF solid ; 
        padding: 4px 4px 4px 4px;
}

Table.Table3 {
        background: #DAD3E2;
        border: 0px #FFFFFF solid ;
        
}

Table.Table4 {
        background: #CAC0D6;
        border: 0px #FFFFFF solid ;
        
        
}

Table.Table5 {
        background: #8B82A2;
        border: 0px #FFFFFF solid ;
        
}

Table.Table6 {
        background: #E6E0EB;
        border: 0px #FFFFFF solid ;
        
        
}

Table.Table_spacer {
        height:3px;
}

Table.Table_spacer_top {
        height:20px;
}


div{
		margin : 0px 10px 0px 10px;
}

div.pageTitle{

        font-family: "Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        font-weight : bold;
        color : #FFFFFF;
        font-size: 25px; 
}

div.identification{
		margin : 5px 10px 5px 10px;
        font-family: "Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        font-weight : bold;
        color : #FFFFFF;
        font-size: 13px; 
}

div.menu{
		margin : 10px 10px 10px 10px;
        font-family: "Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        font-weight : bold;
        color : #8B82A2;
        font-size: 14px; 
}

div.contenu{
        margin : 15px 15px 15px 15px;
        font-family: "Trebuchet MS", Trebuchet, Tahoma,Helvetica, sans-serif;
        color : #8B82A2;
        font-size: 12px; 
}

SELECT {
	 border: 1px #FFFFFF solid ;
     color:#FFFFFF;
     background-color:#8B82A2;
     font-size:10px;
     font-family:arial;
}


#inProgressTask{
	font-weight : bold;
}

#freeTask{
	background-color:#D2E0C9;
}

#onGoingTask{
	background-color:#FFFFA4;
}

#finishedTask{
	background-color:#D0DEE6;
}

#blockedTask{
	background-color:#FFA4A4;
}

#evenmentTask{
	background-color:#FFDCB9;
}


