/* ==========================================
** Anotation
**
** Acronym's
** ------------------------------------------
** ==========================================
*/

.anotation {
	text-decoration : none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Gray;
	font-size : 7pt;
}

.about {
	font-family : Arial;
	font-size : 8pt;
	margin-top: 12px;
	margin-bottom: 12px;
	padding : 5px;
	border: 1px solid #305A6C;
	background-color: #FFFFE1;
}

.about SPAN {
	font-family : Arial;
	font-size : 8pt;
	font-wight : bold;
}

.about ul {
	margin-top: 0px;
	margin-left: 18px;
	margin-bottom : 6px;
}

